<!-- wp:template-part {"slug":"header","theme":"extendable","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wod-flow-panel"} -->
<main class="wp-block-group wod-flow-panel">
    <!-- wp:woocommerce/order-confirmation-status /-->

    <!-- wp:woocommerce/order-confirmation-summary /-->

    <!-- wp:woocommerce/order-confirmation-totals /-->

    <!-- wp:woocommerce/order-confirmation-downloads /-->

    <!-- wp:woocommerce/order-confirmation-billing-address /-->

    <!-- wp:woocommerce/order-confirmation-shipping-address /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-social-icons","theme":"extendable"} /-->
